@import "colors.css";
@import "sizes.css";

.admin-page{
    padding-top: var(--altura-header);
    font-family: 'VT323', monospace;
    justify-content: center;
    text-align: center;
}

.admin-page p{
    margin-top: 6vh;
    font-size: 7vh;
}

.admin-page .acess-button{
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 12vh;
    width: 50vh;
    height: 8vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 5vh;
    background-color: var(--dark-blue);
    border-radius: 10vmin;
}

.admin-page .acess-button .button{
    text-decoration: none;
    color: white;
}