@import "colors.css";
@import "sizes.css";
#card{
    width: 17vw;
    height: 48vh;

    margin: 10px 5vw 10px 5vw;

    background: var(--gray);
    box-shadow: -1vw 1.5vh var(--dark-blue);
    border-radius: 25px;
}

#card-img{
    width: 15vw;
    height: 29vh;

    margin: auto;
    display: block;
    border-radius: 25px;
    margin-top: 2vh;
}

#card-price{
    font-size: 5.5vh;
    text-align: center;
}

#card-console{
    font-size: 5.5vh;
    text-align: center;
}

#card-name{
    font-size: 3vh;
    text-align: center;

    color: var(--dark-blue);
    padding-top: 1vh;
}