@import "./colors.css";
@import "./sizes.css";

.page-search-adm {
    margin-top: var(--altura-header);
    font-family: 'VT323', monospace;
}

.page-search-adm .filtros{
    background-color: var(--dark-blue);
    color: white;
    width: 14vw;
    height: 100%;
    font-size: 5vh;
    position: fixed;
}

.page-search-adm .filtros > div {
    display: flex;
    margin: 0.4vh 2vh;
}

.page-search-adm .filtros input{
    margin-right:1vw ;
}

.page-search-adm .filtro-titulo{
    margin-left: 0.5vw;
    font-size: 6vh;
}

.page-search-adm .content{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 16vw;
    padding-top: 2vh;
}

.page-search-adm .content p{
    font-size: 4.5vh;
    text-align: center;
    padding-right: 2vh;
    padding-bottom: 1vh;
    color: var(--dark-blue);
}

.page-search-adm .content .edit-button{
    width: 23vh;
    margin: 0vh 2vw 1vh 2vw;
    height: 5.5vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 4.5vh;
    background-color: #E1B73D;
    border-radius: 5vmin;
}

.page-search-adm .button-game{
    text-decoration: none;
    color: var(--dark-blue);
}

.page-search-adm .button{
    text-decoration: none;
    color: white;
}

.page-search-adm #card{
    width: 25vh;
    height: 40vh;
    margin: 0vh 2vw 2vh 2vw;
}

/* Isso é pra mudar depois no próprio card */
.page-search-adm #card-price{
    font-size: 2.5vmax;
    text-align: center;
}

/* Isso é pra mudar depois no próprio card */
.page-search-adm #card-console{
    padding-top: 2%;
    font-size: 2.5vmax;
    text-align: center;
}

/* Isso é pra mudar depois no próprio card */
.page-search-adm #card-name{
    font-size: 1.5vmax;
    text-align: center;

    color: var(--dark-blue);
    padding-top: 2%;
}