@import "colors.css";
@import "sizes.css";

.user-page{
    padding-top: var(--altura-header);
    font-family: 'VT323', monospace;
}

.user-page .informations{
    display: flex;
}

.user-page .informations-left{
    width: 50vw;
    margin: 5vh 5vw 5vh 8vw;
}

.user-page .informations-right{
    width: 30vw;
    margin-top: 5vh;
    margin-left: 8vw;
}

.user-page .informations-left p{
    font-size: 7vmin;
    padding-top: 4vh;
}

.user-page .informations-right p{
    text-align: center;
    font-size: 5vmin;
    padding-top: 2vh;
}

.user-page .user-img img{
    margin: auto;
    display: block;
    width: 25vmin;
    height: 25vmin;
    border: solid var(--form-gray) 3px;
    border-radius: 100vmin;
}

.user-page .edit-button{
    margin: 5vh auto 1vh auto;
    width: 23vw;
    height: 8vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 7vmin;
    background-color: var(--dark-blue);
    border-radius: 10vmin;
}

.user-page .edit-button .editar{
    text-decoration: none;
    color: white;
}