@import "colors.css";
@import "sizes.css";

.new-product-page{
    padding-top: var(--altura-header);
    font-family: 'VT323', monospace;
}

.new-product-page .informations{
    display: flex;
}

.new-product-page .informations-right{
    width: 75vw;
    margin: auto;
}

.new-product-page .informations-left{
    width: 25vw;
    margin: auto;
}

.new-product-page .row{
    padding-top: 3vh;
    display: flex;
}

.new-product-page .edit-campo{
    margin-left: 1vw;
}

.new-product-page .campo{
    background-color: var(--form-gray);
    height: 7vh;
    width: 100%;
    font-size: 5vh;
    padding: 0 1vw;
    border: none;
    border-radius: 25px;
}

.new-product-page .informations-right p{
    font-size: 7vmin;
}

.new-product-page .informations-left .edit-button{
    justify-content: center;
    margin: 4vh auto 0vh auto;
    width: 20vw;
    height: 9vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 4.3vh;
    background-color: var(--dark-blue);
    border-radius: 10vmin;
}

.new-product-page .informations-right .edit-button{
    margin: 2vh 2vw 1vh 6vw;
    width: 22vw;
    height: 11vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 5.5vmin;
    background-color: var(--dark-blue);
    border-radius: 5vmin;
}

.new-product-page .edit-button .button{
    text-decoration: none;
    color: white;
}

.new-product-page #newproduct-description{
    height: 30vh;
}

.new-product-page .columns{
    margin-left: 1.5vw;
}

.new-product-page .all-tags{
    margin: 0px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
}

.new-product-page .tag{
    background-color: white; 
    border: 2px solid var(--red);
    border-radius: 5vh;
    color: black; 
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.new-product-page .tag:hover{
    transition-duration: 0.4s;
    background-color: var(--red);
    color: white;
}

.new-product-page .tag p{
    font-size: 3vmin;
    padding: 0px;
}

.new-product-page #card{
    width: 18vw;
    height: 26vw;
}

.new-product-page input[type='file']{
    display: none
}

.new-product-page label{
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-device-width: 1150px) {
    .new-product-page .informations{
        flex-wrap: wrap;
    }

    .new-product-page .informations-left{
        justify-content: center;
        display: block;
        width: 33vh;
    }

    .new-product-page .informations-right{
        width: 90vw;
        margin: auto;
    }

    .new-product-page .informations-left .edit-button{
        width: 33vh;
        margin: auto;
        margin-top: 4vh;
        font-size: 4.5vh;
    }

    .new-product-page .informations-right .edit-button{
        width: 30vmin;
        margin: 20vh 2vw 1vh 8vh;
        font-size: 5min;
    }

    .new-product-page #card{
        width: 34vh;
        height: 50vh;
        margin: auto;
        margin-top: 2vh;
    }
}