@import "colors.css";
@import "sizes.css";

.product-page{
    padding-top: var(--altura-header);
    font-family: 'VT323', monospace;
}

.product-page .informations{
    display: flex;
}

.product-page .informations-right{
    width: 55vw;
    margin: auto;
    margin-left: 3vw;
}

.product-page .informations-left{
    width: 35vw;
    margin: auto;
    justify-content: center;
}

.product-page .all-tags{
    margin: auto;
    width: 25vw;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
}

.product-page .tag{
    background-color: var(--red);
    color: var(--dark-blue);
    border-radius: 10vh;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0vh 0.5vw 0.5vh 0.5vw;
}

.product-page .row-1{
    margin-top: 2vh;
    font-size: 10vmin;
}

.product-page .row-2{
    margin-top: 4vh;
    display: flex;
    color: var(--red);
}

.product-page .values{
    margin: auto;
    margin-left: 0;
    margin-right: 2vw;
}

.product-page .value-1{
    display: flex;
    font-size: 9vmin;
}

.product-page .value-2{
    display: flex;
    font-size: 7vmin;
}

.product-page .row-3{
    margin-top: 2vh;
    display: flex;
}

.product-page .row-3 p{
    padding: 0px 1vw 0px 0vw;
    font-size: 6vmin;
}

.product-page .row-4{
    margin-top: 4vh;
    display: flex;
    font-size: 7vmin;
}

.product-page .row-5{
    display: flex;
    font-size: 5vmin;
}

.product-page .quantity{
    display: flex;
    margin: auto;
    font-size: 6vh;
    justify-content: right;
}

.product-page .quantity .add-quantity, .subtract-quantity{
    padding: 0vh 1.5vw 0vh 1.5vw;
    cursor: pointer;
    user-select: none;
}

.product-page .quantity p{
    padding: 0vh 1vw 0vh 1vw;
}

.product-page .all-buttons{
    margin: 0.5vh;
    justify-content: center;
    display: flex;
}

.product-page button{
    width: 30vh;
    margin: 2vh 15vw 0vh 15vw;
    height: 9vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 6vmin;
    background-color: #E1B73D;
    color: var(--dark-blue);
    border-radius: 5vmin;
}

@media only screen and (max-device-width: 1150px) {
    .product-page .informations{
        flex-wrap: wrap;
    }

    .product-page .informations-left{
        margin: auto;
        justify-content: center;
        display: block;
        width: 33vh;
    }

    .product-page .informations-right{
        width: 90vw;
        margin: auto;
    }

    .product-page .informations-right .edit-button{
        width: 30vmin;
        font-size: 5min;
    }

    .product-page .row-4{
        width: 100%;
    }

    .product-page .row-2{
        margin-top: 2vh;
    }

    .product-page .row-3{
        margin-top: 2vh;
    }

    .product-page #card{
        width: 34vh;
        height: 50vh;
        margin: auto;
        margin-top: 2vh;
    }
}