@import "colors.css";
@import "sizes.css";

.product-page{
    padding-top: var(--altura-header);
    font-family: 'VT323', monospace;
}

.product-page .informations{
    display: flex;
    margin-top: 2vh;
}

.product-page .informations-right{
    width: 55vw;
    margin: auto;
    margin-left: 3vw;
}

.product-page .informations-left{
    width: 35vw;
    margin: auto;
    justify-content: center;
}

.product-page .all-tags{
    margin: auto;
    width: 25vw;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
}

.product-page .tag{
    background-color: var(--red); 
    border: 2px solid white;
    border-radius: 5vh;
    color: black; 
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.product-page .tag:hover{
    transition-duration: 0.4s;
    color: white;
}

.product-page .tag p{
    font-size: 3vmin;
    padding: 0px;
}

.product-page .row-1{
    margin-top: 2vh;
    font-size: 10vmin;
}

.product-page .row-2{
    margin-top: 4vh;
    display: flex;
    color: var(--red);
}

.product-page .values{
    margin: auto;
    margin-left: 0;
    margin-right: 2vw;
}

.product-page .value-1{
    display: flex;
    font-size: 9vmin;
}

.product-page .value-2{
    display: flex;
    font-size: 7vmin;
}

.product-page .row-3{
    margin-top: 2vh;
    display: flex;
}

.product-page .row-3 p{
    padding: 0px 1vw 0px 0vw;
    font-size: 6vmin;
}

.product-page .row-4{
    margin-top: 4vh;
    display: flex;
    font-size: 7vmin;
}

.product-page .row-5{
    display: flex;
    font-size: 5vmin;
}

.product-page .quantity{
    display: flex;
    margin: auto;
    font-size: 6vh;
    justify-content: right;
}

.product-page .quantity .add-quantity, .subtract-quantity{
    padding: 0vh 1.5vw 0vh 1.5vw;
    cursor: pointer;
    user-select: none;
}

.product-page .quantity p{
    padding: 0vh 1vw 0vh 1vw;
}

.product-page .all-buttons{
    margin: 0.5vh;
    justify-content: center;
    display: flex;
}

.product-page button{
    width: 30vh;
    margin: 2vh 15vw 0vh 15vw;
    height: 9vh;
    display: block;
    font-family: 'VT323', monospace;
    font-size: 6vmin;
    background-color: #E1B73D;
    color: var(--dark-blue);
    border-radius: 5vmin;
    cursor: pointer;
}

.product-page .forbidden-button{
    cursor: not-allowed;
    background-color: gray;
}